*{
    box-sizing: border-box;
}

@font-face{
    font-family:"Seta Reta NF W01 Regular";
    src:url("../fonts/ecf31029-b987-40fc-88a1-2d11f4c7a2f1.woff2") format("woff2");
}

@font-face {
    font-family: "SweetSansPro-Regular";
    src: url('../fonts/SweetSansPro-Regular.woff');
}

:root{
    --beige:#f9efe1;
    --lifeHouse:"Seta Reta NF W01 Regular";
    --navFont:"SweetSansPro-Regular";
}


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
   
}

header{
    background-image: url('../imgs/Man.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  
    position: relative;
}


nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1.5rem;
    align-self: flex-start;
    font-family: var(--lifeHouse);
    z-index: 500;
    width: 100%;
}

nav p{
    color: var(--beige);
}

.mobile-ham{
    width: 1rem;
    cursor: pointer;
}


#logo{
 
    
    font-size: 2rem;
    font-family: var(--lifeHouse);
    text-align: center;
    border-bottom: 1px solid var(--beige);
    
}

.open-words{
    z-index: 500;
    color: var(--beige);
    display: flex;
    flex-direction: column;
  align-items: center;
  position: relative;
  top: 30%; 
}

.open-words p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 1rem;
}

.layer{
    background-color: hsla(283, 19%, 7%, 0.527);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bigNav-details{
    display: none;
}



@media screen and (min-width:768px){
    .mobile-ham{
       display: none;
    }

    .bigNav-details{
        display: flex;
        flex-direction: row;
        width: 400px;
        justify-content: space-around;
        font-family: var(--navFont) ;
    }


    #logo{
        font-size: 3rem;
    }

    .open-words p{
       font-size: 1.2rem;
    }

    .life-house{
        font-size: 1.5rem ;
    }


    .selection-items:hover{
border-bottom: 1px solid var(--beige);
cursor: pointer;
    }
}

@media screen and (min-width:1440px){
    #logo{
 
    font-size: 4rem;
     }

    .open-words p{
        font-size: 1.5rem;
     }
}




