*{
    box-sizing: border-box;
}

@font-face{
    font-family:"Seta Reta NF W01 Regular";
    src:url("../fonts/ecf31029-b987-40fc-88a1-2d11f4c7a2f1.woff2") format("woff2"),url("Fonts/1496279/cb866d54-9c93-44de-8341-64627ad25e78.woff") format("woff");
}

:root{
    --beige:#f9efe1
}


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
   
}

header{
    background-image: url('../imgs/Man.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#logo{
 
    color: var(--beige);
    
}

header p{
    font-family: "Seta Reta NF W01 Regular" ;
}


